<div class="hijo-item mb-3 border p-3 rounded shadow-sm">
  <div class="row mb-3">
      <div class="col-md-4">
          {{ form_label(form.apenom, null, {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(form.apenom, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.apenom) }}
      </div> 
      <div class="col-md-4">
          {{ form_label(form.fnac, null, {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(form.fnac, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.fnac) }}
      </div>
      <div class="col-md-4">
          {{ form_label(form.vinculoAgresor, null, {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(form.vinculoAgresor, {'attr': {'class': 'form-select'}}) }}
          {{ form_errors(form.vinculoAgresor) }}
         
      </div>  
 </div>
  <div class="row mb-3">
      <div class="col-md-6">
          <label class='form-label'>¿El OA tuvo alguna intervencion en su niñez/adolescencia anterior al suceso que se investiga?</label>
          <div class="form-check form-switch">
                      {{ form_row(form.sddnayf3a, {'label_attr': {'class': 'form-label'}}) }}
          </div>
      </div>
  </div>
    {# Relación simple #}
   
    {{ form_row(form.sddnayf_3d) }}
    {{ form_row(form.sddnayf_3g) }}
    {{ form_row(form.sddnayf_3h) }}

    {# Relación ManyToMany #}
    {{ form_row(form.sddnayf_3b) }}
    {{ form_row(form.sddnayf_3c) }}
    {{ form_row(form.sddnayf_3e) }}
    {{ form_row(form.sddnayf_3l) }}

    <button type="button" class="btn btn-danger btn-sm mt-2 remove-familiar">
        Quitar hijo
    </button>
</div>
<style>
.accordion-button::after {
  content: none !important;
  background-image: none !important;
}
.bg-lightgray {
  background-color: #f8f9fa !important; /* gris clarito tipo Bootstrap */
  border: 1px solid #f8f9fa !important;
  padding: 1rem;
}
#collapseH {
  background-color: #f0f0f0 !important;
  overflow: visible !important;
}
.flotante-indicacionH {
      position: absolute;
      right: -800px; /* ajustá según el espacio real disponible */
      top: 80px;    /* ajustá según la altura de los campos de fecha */
      font-size: 0.875rem;
      color: #6c757d;
  }
</style>