{% extends 'base.html.twig' %}
{% block title %}Registro MPA{% endblock %}

{% block body %}
{% if sinCaso %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      Swal.fire({
        icon: "error",
        title: "Debe seleccionar un caso",
        text: "Antes de registrar MPA, es necesario elegir un caso.",
        confirmButtonText: "Ir a casos"
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "{{ path('app_caso_index') }}";
        }
      });
    });
  </script>
{% endif %}

  {% if caso %} 
<section id="formSecretaria" class="container my-5">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h2 class="mb-0">Sección Ministerio Público de la Acusación</h2>

          <span class="ms-3">
            Ud. está trabajando con el caso Nro:
            <span class="badge badge-caso">{{ caso.idCaso }}</span>
          </span>
            {#<div class="form-group ms-4">
              <label>Ud. está trabajando con el caso Nro:</label>
              <input type="text" readonly class="form-control-plaintext" value="{{ caso.idCaso }}">
            </div>#}
        </div>
    {{ form_start(form) }}

    {# Acordeón del formulario #}
    <div class="accordion" id="accordionFormularioViolencia" >
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading1">
          <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" >
            1. Información del hecho
          </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse show">
          <div class="accordion-body" >
            {{ form_row(form.mpa_1) }}
            {{ form_row(form.mpa_2) }}
            {{ form_row(form.mpa_3, {'attr': {'class': 'form-select nomenclador-TIPO_LUGAR'}}) }}
            {{ form_row(form.mpa_4) }}
            {{ form_row(form.mpa_5, {'attr': {'class': 'form-select nomenclador-TIPO_VIOLENCIA'}}) }}
            {{ form_row(form.mpa_6) }}
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading2">
          <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapse2">
            2. Información del imputado
          </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse">
          <div class="accordion-body">
            {{ form_row(form.mpa_7) }}
            {{ form_row(form.mpa_7a) }}

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3">
            3. Detalles adicionales del hecho
          </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse">
          <div class="accordion-body">
            {{ form_row(form.mpa_8) }}
            {{ form_row(form.mpa_9a, {'attr': {'class': 'form-select nomenclador-TIPO_ARMA'}}) }}
            {{ form_row(form.mpa_9b) }}
            {{ form_row(form.mpa_9c) }}
            {{ form_row(form.mpa_9d) }}
            {{ form_row(form.mpa_9e) }}
            {{ form_row(form.mpa_9f) }}
            {{ form_row(form.mpa_9g) }}
            {{ form_row(form.mpa_9h) }}
            {{ form_row(form.mpa_9ha) }}
            {{ form_row(form.mpa_10) }}
            {{ form_row(form.mpa_11) }}
            {{ form_row(form.mpa_12, {'attr': {'class': 'form-select nomenclador-MODALIDAD_HECHO'}}) }}
            {{ form_row(form.mpa_13) }}
            {{ form_row(form.mpa_13a) }}
            {{ form_row(form.mpa_14) }}
            {{ form_row(form.mpa_15) }}
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a href="{{ path('app_mpa_index') }}" class="btn btn-secondary">Cancelar</a>
    </div>

    {{ form_end(form) }}
    </section>
  {% endif %}
</div>
{% endblock %}
