<div class="row familiar-referencia-item mb-3 p-3 border rounded" >

    <div class="col-md-5">
        {{ form_label(form.apenom, 'Apellido y nombre') }}
        {{ form_widget(form.apenom, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.apenom) }}
    </div>
    <div class="col-md-3">
        {{ form_label(form.edad) }}
        {{ form_widget(form.edad, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.edad) }}
    </div>
    <div class="col-md-3">
        {{ form_label(form.vinculo) }}
        {{ form_widget(form.vinculo, {'attr': {'class': 'form-select'}}) }}
        {{ form_errors(form.vinculo) }}
    </div>
    <div class="col-md-1">
    <br>
        <button type="button" class="btn btn-danger btn-sm remove-familiar">Eliminar</button>
    </div>
</div>

