 {% if sinCaso %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      Swal.fire({
        icon: "error",
        title: "Debe seleccionar un caso",
        text: "Antes de registrar SMGyD, es necesario elegir un caso.",
        confirmButtonText: "Ir a casos"
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "{{ path('app_caso_index') }}";
        }
      });
    });
  </script>
{% endif %}
 {% if caso is defined  %}  
    <section id="formSecretaria" class="container my-3">
          
      <div class="d-flex align-items-center justify-content-between mb-4">
          <h2 class="mb-0">Sección SMGyD</h2>

          <span class="ms-3">
            Ud. está trabajando con el caso Nro:
            <span class="badge badge-caso">{{ caso.idCaso }}</span>
          </span>
            
        </div>

{{ form_start(form) }}
<div class="accordion" id="accordionFormularioViolencia" >
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading1">
    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" >
       1. Acerca de la víctima
    </button></h2>
    <div id="collapse1" class="accordion-collapse collapse show ">
      <div class="accordion-body" >
            <div class="row mb-3">
            <div class="col-md-4">
                {{ form_label(form.smgyd2,null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_errors(form.smgyd2) }}
                {{ form_widget(form.smgyd2,{'attr': {'class': 'form-select'}}) }}
            </div>    
            <div class="col-md-4">
                {{ form_label(form.smgyd3,null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_errors(form.smgyd3) }}
                {{ form_widget(form.smgyd3,{'attr': {'class': 'form-select'}}) }}
            </div>    
            <div class="col-md-4">    
                {{ form_label(form.smgyd4,null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_errors(form.smgyd4) }}
                {{ form_widget(form.smgyd4,{'attr': {'class': 'form-select'}}) }}
            </div>    
          </div>
            
          <div class="row mb-3">
              <div class="col-md-3">
                  <div class="d-flex justify-content-between align-items-center">
                      <h6 class="mb-0">Datos de hijes y personas a cargo</h6>
                      <button class="btn btn-sm btn-link p-0 ms-2 align-baseline" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#familiaresCollapse"
                                  aria-expanded="true" aria-controls="familiaresCollapse"
                                  title="Mostrar/Ocultar sección">
                                  <i class="bi bi-arrows-fullscreen"></i>
                      </button>
              </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <div class="collapse mt-2 show" id="familiaresCollapse">
                <div id="familiares-collection"
                    data-prototype="{{ include('smgyd/_familiar_row.html.twig', { 'form': form.familiares.vars.prototype })|e('html_attr') }}"
                    data-index="{{ form.familiares|length }}">
                    {% for familiarForm in form.familiares %}
                        <div class="familiar-item mb-3">
                            {% include 'smgyd/_familiar_row.html.twig' with {'form': familiarForm} %}
                        </div>
                    {% endfor %}
             
                </div>
                  <div class="text-end">
                    <button type="button" class="btn btn-primary btn-sm mt-2" id="add-familiar">Agregar Familiar</button>
                </div>
              </div>
            </div>
          </div>
    
       </div>
      </div> 
      </div>
    </div>{#item#} 

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading2">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" >
        2. Acerca del agresor
      </button></h2>
      <div id="collapse2" class="accordion-collapse collapse ">
      <div class="accordion-body" >
          <div class="row mb-3">
                <div class="col-md-4">
                        {{ form_label(form.smgyd5a, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.smgyd5a, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.smgyd5a) }}
                </div>
                <div class="col-md-3">
                        {{ form_label(form.smgyd5b, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.smgyd5b, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.smgyd5b) }}
                </div>
                <div class="col-md-2">
                        {{ form_label(form.smgyd5c, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.smgyd5c, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.smgyd5c) }}
                </div>
                <div class='col md-4'>
                    {{ form_row(form.smgyd5d, {'attr': {'class': 'form-select'}}) }}
                </div>  
          </div>    
          <div class="row mb-3">
                <div class="col-md-4">
                        {{ form_label(form.smgyd5e, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.smgyd5e, {'attr': {'class': 'form-select'}}) }}
                        {{ form_errors(form.smgyd5e) }}
                </div>
                <div class="col-md-3">
                      <label for="smgyd5f" class="form-label" style="text-align: left; width: auto;">¿Hijos en comun? </label>
                        <div class="form-check form-switch d-flex justify-content-left">
                            {{ form_row(form.smgyd5f, {'label_attr': {'class': 'form-label'}}) }}
                        </div>
                </div>
                <div class="col-md-5">
                      <label for="smgyd5g" class="form-label" style="text-align: left; width: auto;">¿Se conoce si tiene antecedentes penale y/o de violencia? </label>
                        <div class="form-check form-switch d-flex justify-content-left">
                            {{ form_row(form.smgyd5g, {'label_attr': {'class': 'form-label'}}) }}
                        </div>
                </div>
          </div> 
          <div class="row mb-3">
                <div class="col-md-4"></div>
                <div class="col-md-3"></div>
                <div class="col-md-5">
                    {{ form_row(form.smgyd5g1, {'attr': {'class': 'form-control'}}) }}
                </div>
          </div>
      </div>    
      </div>
    </div>{#item#}
<div class="accordion-item">
    <h2 class="accordion-header" id="heading3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" >
        3. Datos del hecho 
      </button>
    </h2>
    <div id="collapse3" class="accordion-collapse collapse ">
      <div class="accordion-body" >
            <div class="row mb-3">   
                  <div class='col md-4'>
                      {{ form_row(form.smgyd22a, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class='col md-4'>
                      {{ form_row(form.smgyd22b, {'attr': {'class': 'form-select'}}) }}
                  </div>
                  <div class='col md-4'>
                      {{ form_row(form.smgyd22c, {'attr': {'class': 'form-select'}}) }}
                  </div>
            </div>

      </div>
    </div>
</div>{#item 3#}      
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" >
        4. Antecedentes / Ruta critica: Estrategias de abordaje 
      </button>
    </h2>
    <div id="collapse4" class="accordion-collapse collapse ">
      <div class="accordion-body" >
          <div class="row mb-3">   
                  <div class='col md-4'>
                    {{ form_row(form.smgyd7) }}
                  </div>
                  <div class='col md-4'>
                    {{ form_row(form.smgyd8) }}
                  </div>
                  <div class='col md-4'>
                    {{ form_row(form.smgyd8a, {'attr': {'class': 'form-select'}}) }}
                  </div>
          </div>
          <div class="row mb-3">   
              <div class='col md-4'>
                <label class='form-label'>¿Existen medidas de proteccion previas?</label>
                <div class="form-check form-switch">
                        {{ form_row(form.smgyd9, {'label_attr': {'class': 'form-label'}}) }}
                </div>
              </div>
              <div class='col md-4'>
                <label class='form-label'>¿Fueron en relacion al mismo agresor?</label>
                <div class="form-check form-switch">
                        {{ form_row(form.smgyd9a, {'label_attr': {'class': 'form-label'}}) }}
                </div>
              </div>
              <div class='col md-4'>
                 {{ form_row(form.smgyd10) }}
               </div>
          </div>
          <div class="row mb-3">
              <div class="col-md-2">
                  <div class="d-flex justify-content-between align-items-center">
                      <h6 class="mb-0">Procesos judiciales</h6>
                      <button class="btn btn-sm btn-link p-0 ms-2 align-baseline" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#procesosCollapse"
                                  aria-expanded="true" aria-controls="procesosCollapse"
                                  title="Mostrar/Ocultar sección">
                                  <i class="bi bi-arrows-fullscreen"></i>
                      </button>
              </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-12">
                <div class="collapse mt-2 show " id="procesosCollapse">
                      <div id="procesos-collection"
                          data-prototype="{{ include('smgyd/_proceso_row.html.twig', { form: form.procesosJudiciales.vars.prototype })|e('html_attr') }}"
                          data-index="{{ form.procesosJudiciales|length }}">
                          {% for procesoForm in form.procesosJudiciales %}
                              <div class="proceso-item mb-3">
                                  {% include 'smgyd/_proceso_row.html.twig' with {'form': procesoForm} %}
                              </div>  
                          {% endfor %}
                      </div>
                      <div class="text-end">
                              <button type="button" class="btn btn-primary btn-sm mt-2" id="add-proceso">Agregar Proceso</button>
                      </div>
                     
                </div>
            </div>
          </div>        
          <div class="row mb-3">   
              <div class="col md-4">
                    <label class='form-label'>¿La victima habia sido derivada por otros equipos provinciales a la SMGyD?</label>
                      <div class="form-check form-switch">
                              {{ form_row(form.smgyd11, {'label_attr': {'class': 'form-label'}}) }}
                      </div>
              </div>
              <div class="col md-4">
                    <label class='form-label'>¿Se conocen intervenciones previas de otros organismos?</label>
                      <div class="form-check form-switch">
                              {{ form_row(form.smgyd12, {'label_attr': {'class': 'form-label'}}) }}
                      </div>
              </div>
              <div class="col md-4">
                    <label class='form-label'>¿Alguna vez la victima recibio ayudas economicas provinciales por parte de los equipos de SMGyD?</label>
                      <div class="form-check form-switch">
                              {{ form_row(form.smgyd13, {'label_attr': {'class': 'form-label'}}) }}
                      </div>
              </div>
          </div>
          <div class="row mb-3">   
              <div class="col md-4">
                 {{ form_row(form.smgyd14, {'attr': {'class': 'form-select'}}) }}
              </div>   
        </div>
      </div>

    </div>
    </div>
</div> {#acordeon#}   

<div class="accordion-item">
    <h2 class="accordion-header" id="heading5">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" >
        5. Estrategias de abordaje posteriores al hecho
      </button>
    </h2>
    <div id="collapse5" class="accordion-collapse collapse ">
      <div class="accordion-body" >
            <div class="row mb-3">   
                  <div class='col md-4'>
                    {{ form_row(form.smgyd15) }}
                  </div>
                  <div class='col md-4'>
                    {{ form_row(form.smgyd15a) }}
                  </div>
                  <div class='col md-4'>
                    {{ form_row(form.smgyd15b) }}
                  </div>
            </div>    
            <div class="row mb-3">   
                  <div class='col md-4'></div>
                  <div class='col md-4'></div>
                  <div class='col md-4'>
                       {{ form_row(form.smgyd15c,{'attr': {'class': 'form-control'}}) }}
                  </div>
            </div>  
            <div class="row mb-3">   
                <div class='col md-4'>
                    {{ form_row(form.smgyd16) }}
                </div>
                <div class='col md-4'>
                    {{ form_row(form.equipos) }}
                </div>
                <div class='col md-4'>
                    {{ form_row(form.smgyd16b,{'attr': {'class': 'form-control'}}) }}
                </div>
                <div class='col md-4'>
                    {{ form_row(form.smgyd16c,{'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {# Familiares referencia------------------------------#}
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-0">Familiares de referencia</h6>
                        <button class="btn btn-sm btn-link p-0 ms-2 align-baseline" type="button"
                                data-bs-toggle="collapse" data-bs-target="#familiaresReferenciaCollapse"
                                aria-expanded="true" aria-controls="familiaresReferenciaCollapse"
                                title="Mostrar/Ocultar sección">
                            <i class="bi bi-arrows-fullscreen"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="collapse mt-2 show" id="familiaresReferenciaCollapse">

                        <div id="familiaresReferencia-collection"
                            data-prototype="{{ include('smgyd/_familiarReferencia_row.html.twig', { form: form.familiaresReferencia.vars.prototype })|e('html_attr') }}"
                            data-index="{{ form.familiaresReferencia|length }}">
                            
                            {% for familiarForm in form.familiaresReferencia %}
                                <div class="familiar-item mb-3">
                                    {% include 'smgyd/_familiarReferencia_row.html.twig' with {'form': familiarForm} %}
                                </div>
                            {% endfor %}
                        </div>

                        <div class="text-end">
                            <button type="button" class="btn btn-primary btn-sm mt-2" id="add-familiarReferencia">
                                Agregar Familiar Ref
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            {# Organizaciones----------------------#}
            <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="mb-0">Organizaciones sociales y sus referentes</h6>
                            <button class="btn btn-sm btn-link p-0 ms-2 align-baseline" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#organizacionesCollapse"
                                        aria-expanded="true" aria-controls="organizacionesCollapse"
                                        title="Mostrar/Ocultar sección">
                                        <i class="bi bi-arrows-fullscreen"></i>
                            </button>
                    </div>
            </div>
            <div class="row mb-3">
                    <div class="col-md-12">
                      <div class="collapse mt-2 show collapse" id="organizacionesCollapse">
                       
                          <div id="organizaciones-collection"
                              data-prototype="{{ include('smgyd/_organizacion_row.html.twig', { form: form.organizaciones.vars.prototype })|e('html_attr') }}"
                              data-index="{{ form.organizaciones|length }}">
                              {% for organizacionForm in form.organizaciones %}
                                  <div class="organizacion-item mb-3">
                                      {% include 'smgyd/_organizacion_row.html.twig' with {'form': organizacionForm} %}
                                  </div>  
                              {% endfor %}
                          </div>    
                          <div class="text-end">
                                  <button type="button" class="btn btn-primary btn-sm mt-2" id="add-organizacion">Agregar Organizacion</button>
                          </div>
                          
                      </div>
                    </div>
          </div>
     
        <div class="row mb-3">
               <div class='col md-4'>
                    {{ form_row(form.smgyd17) }}
               </div>
               <div class='col md-4'>
                    <label class='form-label'>¿Corresponde RENNyA para hijos/as de la victima?</label>
                      <div class="form-check form-switch">
                              {{ form_row(form.smgyd18, {'label_attr': {'class': 'form-label'}}) }}
                      </div>

               </div>
                    <div class='col md-4'>
                    {{ form_row(form.smgyd19, {'attr': {'class': 'form-select'}}) }}
               </div>
        </div>
        <div class="row mb-3">
            <div class='col md-6'>
                  {{ form_row(form.smgyd20,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class='col md-6'>
                {{ form_row(form.smgyd21,{'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
         
      </div>
    </div>
</div>{#div item#}    
  
</div> 
   <br>
{% if modo != 'show' %}
        <div class="col-md-12 d-flex justify-content-end">
                <div class="btn-group d-flex justify-content-center" role="group" style="align-item:center">
                <button type="submit" class="btn  btn-outline-primary" style="background-color:blue;color:white">{{ button_label|default('Save') }}</button>
               &nbsp;&nbsp;&nbsp;
                <a href="{{ path('app_caso_index') }}" class="btn btn-outline-secondary" style="background-color:black;color:white" >Cancelar</a>
                </div>
        </div>
   {% endif %}
{{ form_end(form) }}
</section>
{% endif %}