{% extends 'base.html.twig' %}
{% block title %}Nuevo CASO{% endblock %}

{% block body %}
<section class="container my-5">
    <h2 class="text-left mb-4">Identificación de la víctima</h2>
    <hr>
       
    {{ form_start(form) }}
    <div class="row mb-3">
                <!-- Fecha de carga -->
                <div class="col-md-4">
                                
                    {{ form_label(form.fechaCarga , null, {'label_attr': {'class': 'form-label'}}) }}                    
                    {{ form_errors(form.fechaCarga) }}
                    {{ form_widget(form.fechaCarga,{'attr': {'class': 'form-control'}})  }}
                </div>
                <!-- Fecha de del hecho -->
                <div class="col-md-4">
                    {{ form_label(form.fechaHecho, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_errors(form.fechaHecho) }}
                    {{ form_widget(form.fechaHecho,{'attr': {'class': 'form-control'}})  }}
                </div>
                <div class="col-md-4">
                    {{ form_label(form.fechaAnoticiamiento, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_errors(form.fechaAnoticiamiento) }}
                    {{ form_widget(form.fechaAnoticiamiento,{'attr': {'class': 'form-control'}})  }}
                </div>
    </div>
    <div class="row mb-3">
                <div class="col-md-4">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre de la víctima" required>
                </div>
                <div class="col-md-4">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido de la víctima" required>
                </div>
                <div class="col-md-2">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="text" class="form-control" name="nrodoc" id="nrodoc" placeholder="Número de DNI" required>
                </div>
              
                <div class="col-md-2">
                     <label class="form-label" for="nacionalidad">Nacionalidad</label>
                    <select class="form-select" id="nacionalidad" name="nacionalidad">
                            <option selected disabled>Seleccione...</option>
                    </select>
                </div>
    </div>
    <div class="row mb-3">
                <!-- Sexo asignado en el DNI -->
                <div class="col-md-4">
                    <label class="form-label">Sexo asignado en el DNI</label>
                    <select class="form-select" id="sexo" name="sexo" required>
                        <option selected disabled>Seleccione...</option>
                        <option value="F">Femenino</option>
                        <option value="M">Masculino</option>
                        <option value="No binario">No binario</option>
                    </select>
                </div>
    
                <!-- Género autopercibido de la víctima -->
                <div class="col-md-4">
                    <label for="generoAutop" class="form-label">Género autopercibido de la víctima</label>
                    <select class="form-select" id="generoAutop" name="generoAutop" required>
                        <option selected disabled>Seleccione...</option>
                        <option value="Mujer cis">Mujer cis</option>
                        <option value="Varon cis">Varon cis</option>
                        <option value="Mujer trans">Mujer trans</option>
                        <option value="Varon trans">Varon trans</option>
                        <option value="No binario">No binario</option>
                        <option value="No especificado">No especificado</option>
                    </select>
                </div>
                <div class="col-md-2">

                    {{ form_label(form.edad, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_errors(form.edad) }}
                    {{ form_widget(form.edad,{'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(form.franjaEtaria, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_errors(form.franjaEtaria) }}
                    {{ form_widget(form.franjaEtaria,{'attr': {'class': 'form-control'}}) }}
                </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
                    <label for="femicidioVinculado" class="form-label">¿Presuntamente se trata de un femicidio vinculado?</label>
                    <div class="form-check form-switch">
                            {{ form_row(form.femicidioVinculado, {'label_attr': {'class': 'form-label'}}) }}
                    </div>
        </div> 
        <div class="col-md-4">
                    <label for="crimenOdio" class="form-label">¿Se trata de un crimen de odio o discriminación?</label>
                    <div class="form-check form-switch">
                            {{ form_row(form.crimenOdio, {'label_attr': {'class': 'form-label'}}) }}
                    </div>
        </div> 
        <div class="col-md-4">
                    {{ form_label(form.tipoMuerte, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.tipoMuerte, {'attr': {'class': 'form-select'}}) }}
                    {{ form_errors(form.tipoMuerte) }}
        </div>
    </div>
    <div class="row mb-3">
           <div class="col-md-4">
                    {{ form_label(form.domicilio, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.domicilio, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.domicilio) }}
        </div>
        <div class="col-md-4">
                    {{ form_label(form.lugarHechoNomenclador, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.lugarHechoNomenclador, {'attr': {'class': 'form-select'}}) }}
                    {{ form_errors(form.lugarHechoNomenclador) }}
        </div>
 
        <div class="col-md-4">
                    {{ form_label(form.barrio, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.barrio, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.barrio) }}
        </div>
     </div>
     <div class="row mb-3">
                <div class="col-md-4">
                    {{ form_label(form.localidad, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_errors(form.localidad) }}
                    {{ form_widget(form.localidad,{'attr': {'class': 'form-select'}})  }}
                </div>
                <!-- Departamento -->
                    <div class="col-md-4">
                        <label for="departamento" class="form-label">Departamento</label>
                        <input type="text" class="form-control" id="departamento" readonly="true">
                    </div>
                
                    <!-- Microregión -->
                    <div class="col-md-4">
                        <label for="microregion" class="form-label">Microregión</label>
                        <input type="text" class="form-control" id="microregion" readonly>
                    </div>
     </div>
     <br>

      
     <!-- Botón de envío -->
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        {{ form_widget(form) }}
    {{ form_end(form) }}

</section>

{% endblock %} 
{% block javascripts %}

    {{ parent() }}
        <script src="{{ asset('js/franjaEtaria.js') }}"></script>
        <script src="{{ asset('js/nacionalidad.js') }}"></script>
        <script>
    window.localidadInfoTemplate = '{{ path('localidad_info', { id: 'PLACEHOLDER' }) }}';
    window.verificarDniUrlTemplate = "{{ path('persona_verificar_dni', { nrodoc: 'PLACEHOLDER' }) }}";
</script>
          <script src="{{ asset('js/dptoYmicroregion.js') }}"></script>
          <script src="{{ asset('js/persona.js') }}"></script>
{% endblock %}
