{% extends 'base.html.twig' %}


{% block body %}
    <section id="caso-table">
    <table class="thead-dark">
        <thead>
        <tr>
            <th>Caso</th>
            <th>Fecha del hecho</th>
            <th>Localidad</th>
            <th>Institución de carga</th>
            <th>Actualizaciones</th>
        </tr>
        </thead>
        <tbody id="caso-body">
        <!-- Filas dinámicas -->
        {% for caso in casos %}
            <tr>
                <td>{{ caso.idCaso }}</td>
                <td>{{ caso.fechaCarga ? caso.fechaCarga|date('d-m-Y') : '' }}</td>
                <td>{{ caso.localidad }}</td>
                <td>{{ caso.organismoOrigenIdOrigen }}</td>
                <td>
                    <span class="badge text-bg-primary rounded-pill">{{ random(1, 15) }}</span>
                    <i class="fas fa-eye"></i>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">No hay casos cargados.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>

    

</body>
</html>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/rellenarTable.js') }}"></script>
{% endblock %}
